<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html>
<head>
  <title>Country->State->City</title>
  <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
  <!--integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="-->
  <!--crossorigin="anonymous"></script>-->
  <!--<script type = "text/javascript" src="custom.js"></script>-->
</head>
<body>
Country:
<select id="country">

</select>

State:
<select id="state">

</select>

School:
<select id="school">

</select>


</body>
</html>

<router-outlet></router-outlet>
